body {
  font-family: 'Open Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizelegibility;
}

.landing-page {
  background: linear-gradient(
      rgba(0,0,0,0.5),
      rgba(0,0,0,0.5)
    ), url('https://res.cloudinary.com/dd6kwd0zn/image/upload/v1504164424/aliis-sinisalu-70432_2_zefiev.jpg') fixed center center;
  background-size: cover;
  color: white;
}

.other-pages {
  background: #fcfcfc;
}

h1,h2,h3,.navbar-brand {
  font-family: 'Lora', serif;
  letter-spacing: -1px;
}

input {
  border-radius: 0;
}

.jumbotron {
  background-color: rgba(0,0,0,0);
}

.light {
  font-weight: lighter;
}

.navbar-default {
  padding: 20px;
  color: #e5dddd;
  border: 0;
  background-color: white;
}

.navbar li a {
  letter-spacing: 1px;
}

.navbar-default .navbar-toggle,
.navbar-default .navbar-toggle:hover {
  border: 0;
}

.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
  background-color: rgba(0,0,0,0);
}

.btn-success {
  background-color: #3c7a3c;
  border: 0;
}

.fieldWrapper {
  margin: 10px;
}

.fieldWrapper input {
  width: 100%;
}

.fieldWrapper ul li, .help {
  font-size: 0.8em;
}

div.alert {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  padding: 20px;
  display: none;
  z-index: 999;
}

.list-group-item {
  background-color: #ededed;
  margin-bottom: 10px;
  border: 0;
  -webkit-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 17px -9px rgba(0,0,0,0.75);
}

.btn {
  border-radius: 0;
}

.btn-xs {
  border-radius: 50%;
  margin-right: 10px;
}

.gallery_thumbnail {
  margin-top: 5px;
  margin-bottom: 5px;
  max-height: 300px;
}

.flexed {
  display: flex;
  flex-wrap: wrap;
}

.flexed-items {
  margin: 5px -1px;
}

.form-btn {
  display: inline;
}

.overflow {
  overflow: scroll;
  height: 500px;
}
