{% extends 'base.html' %}
{% load staticfiles %}

{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-12">
        <h1 class="text-center">Marketplace</h1>
        <p class="small light text-center">This is where you can search for items that are open for trading and initiate trades.</p>
        {% if not user.is_authenticated %}
          <p class="small text-center"><a href="/">Register</a> now to start trading.</p>
        {% endif %}
    </div>
  </div>
  <div class="row flexed">
    {% for item in items %}
    <div class="col-md-3 flexed-items">
      <div class="list-group-item clearfix text-center" data-id="{{ item.id }}"><strong>{{ item.name }}</strong><img src="{{ item.image }}" class="img-responsive gallery_thumbnail center-block">
        {% if user.is_authenticated %}
        <form action="/item/trade/request" method="post" class="form-btn">
          {% csrf_token %}
          <input type="hidden" name="item_id" value="{{item.id}}" />
          <input type="submit" value="Request Trade" class="btn btn-primary"/>
        </form>
        {% endif %}
      </div>
    </div>
    {% endfor %}
  </div>
</div>
<hr>
{% include 'base_scripts.html' %}
{% endblock %}
